<div class="page-header">
  <!-- <h4>文章列表</h4> -->
</div>
<table class="table table-bordered">
  <caption>
        <div class="row">
            <div class="col-sm-6" align="left">
              <%=link_to '文章列表',articles_path, :class => 'btn btn-default' %>
            </div>
            <div class="col-sm-6" align="right">
              <%= link_to '新建文章', new_article_path,:class => 'btn btn-primary' %>
            </div>
        </div>
  </caption>
  <thead>
    <tr>
      <th>名称</th>
      <th>分类</th>
      <th>创建时间</th>
      <th>管理</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.name, article_path(article)%></td>
        <td><%= article.sector.name if !article.sector_id.zero?%></td>
        <td><%= article.created_at %></td>
        <td>
          <%= link_to '编辑',edit_article_path(article), :class => 'btn btn-default btn-xs' %>
          <%= link_to '删除',article_path(article),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>