<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>好博文</title>
	<meta name="keywords" content="好博文,博文网,ruby on rails学习,ruby教程,ruby经验分享,rails学习,rails常用gem插件使用" />
    <meta name="description" content="ruby on rails项目开发中遇到的问题及各种gem插件的使用方法分享" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="baidu-site-verification" content="LPpZdBPAnF" />
	<meta name="author" content="zhq">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
  <!-- <link href='./images/favicon.ico' rel='icon' type='image/x-icon'/> -->
    
</head>
<body>
<div class="wrap-body zerogrid">
<header>
	<div class="wrap-header">
		
		<div id="logo">
			<a href="http://www.sohaobao.com"><h1>好博文</h1></a>
			<p>要做的事情总找得出时间和机会；不愿意做的事情也总能找得出借口</p>
		</div>
		
		<nav>
			<div class="wrap-nav">
				<%=render 'layouts/web_site/header'%>
			</div>
		</nav>
		<div class="top">
			<!-- <div class="socials">
			<ul>
					<li><a href="#" title="facebook"><img src="<%=asset_path('socials/facebook-32x32.png')%>"/></a></li>
					<li><a href="#" title="google"><img src="<%=asset_path('socials/google-32x32.png')%>"/></a></li>
					<li><a href="#" title="twitter"><img src="<%=asset_path('socials/twitter-32x32.png')%>"/></a></li>
					<li><a href="#" title="rss"><img src="<%=asset_path('socials/rss-32x32.png')%>"/></a></li>
					<li><a href="#" title="youtube"><img src="<%=asset_path('socials/youtube-32x32.png')%>"/></a></li>
				</ul>
			</div> -->
			<div id="search">
				<div class="button-search",value='Search'></div>
				<input type="text" value="Search..." onfocus="if (this.value == &#39;Search...&#39;) {this.value = &#39;&#39;;}" onblur="if (this.value == &#39;&#39;) {this.value = &#39;Search...&#39;;}">
			</div>
		</div>
	</div>
</header>
<section id="content">
	<div class="wrap-content">
		<div class="row block">
			<div id="main-content" class="col-2-3">
				<div class="wrap-col">
					<%= yield%>
				</div>
			</div>
			<div id="sidebar" class="col-1-3">
				<div class="wrap-col">
					<%=render 'layouts/web_site/about'%>
					<%=render 'layouts/web_site/sector'%>
					<%=render 'layouts/web_site/friendly_link'%>
				</div>
			</div>
		</div>
	</div>
</section>
<footer>
	<%=render 'layouts/web_site/footer'%>
</footer>
</div>
</body>
</html>